<!-- add_ingredient.html -->
{% extends "base.html" %}
{% block title %}Add Ingredient{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel">
                <h3 class="center-align indigo-text text-lighten-1">Add Ingredient</h3>
                
                <form method="POST" action="{{ url_for('add_ingredient') }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">kitchen</i>
                            <input id="ingredient_name" name="ingredient_name" type="text" class="validate" required>
                            <label for="ingredient_name">Ingredient Name</label>
                            <span class="helper-text" data-error="Ingredient name is required">Enter the ingredient name</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">category</i>
                            <select id="category" name="category" class="validate" required>
                                <option value="" disabled selected>Choose Category</option>
                                {% for category in categories %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                            <label for="category">Category</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('manage_ingredients') }}" class="btn waves-effect waves-light red">
                                Cancel<i class="material-icons right">cancel</i>
                            </a>
                            <button type="submit" class="btn waves-effect waves-light indigo lighten-1">
                                Add Ingredient<i class="material-icons right">add</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- edit_ingredient.html -->
{% extends "base.html" %}
{% block title %}Edit Ingredient{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel">
                <h3 class="center-align indigo-text text-lighten-1">Edit Ingredient</h3>
                
                <form method="POST" action="{{ url_for('edit_ingredient', ingredient_id=ingredient._id) }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">kitchen</i>
                            <input id="ingredient_name" name="ingredient_name" type="text" 
                                   value="{{ ingredient.ingredient_name }}" class="validate" required>
                            <label for="ingredient_name">Ingredient Name</label>
                            <span class="helper-text" data-error="Ingredient name is required">Enter the ingredient name</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">category</i>
                            <select id="category" name="category" class="validate" required>
                                <option value="" disabled>Choose Category</option>
                                {% for category in categories %}
                                    <option value="{{ category }}" {% if ingredient.category == category %}selected{% endif %}>
                                        {{ category }}
                                    </option>
                                {% endfor %}
                            </select>
                            <label for="category">Category</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('manage_ingredients') }}" class="btn waves-effect waves-light red">
                                Cancel<i class="material-icons right">cancel</i>
                            </a>
                            <button type="submit" class="btn waves-effect waves-light indigo lighten-1">
                                Update Ingredient<i class="material-icons right">save</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Make sure the label doesn't overlap with existing content
        M.updateTextFields();
    });
</script>
{% endblock %}