<!-- add_category.html -->
{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel">
                <h3 class="center-align indigo-text text-lighten-1">Add Category</h3>
                
                <form method="POST" action="{{ url_for('add_category') }}">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">restaurant</i>
                            <input id="dish_name" name="dish_name" type="text" class="validate" required>
                            <label for="dish_name">Category Name</label>
                            <span class="helper-text" data-error="Category name is required">Enter the category name</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <textarea id="description" name="description" class="materialize-textarea"></textarea>
                            <label for="description">Description (Optional)</label>
                            <span class="helper-text">A brief description of this category</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{{ url_for('manage_categories') }}" class="btn waves-effect waves-light red">
                                Cancel<i class="material-icons right">cancel</i>
                            </a>
                            <button type="submit" class="btn waves-effect waves-light indigo lighten-1">
                                Add Category<i class="material-icons right">add</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Make sure the label doesn't overlap with existing content
        M.updateTextFields();
    });
</script>
{% endblock %}